body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding-left: 0%;
    padding-top: 3%;
}

h1{
    font-size: 50px;
}
#order-food{
    margin: 0%;
    padding-left: 5%;
    padding-top: 15%;
}

.orange-color{
    color: orange ;
}
.silver-color{
    color: hsl(0, 7%, 32%);
}
.off-white-color{
    color: wheat;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
   
}
.button-extra{
    text-decoration: none;
    background-image: linear-gradient(rgb(151, 149, 144), rgb(8, 8, 8) );
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    
    
}

.dream-big{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 0%;
    
    
    
}
.experince-area{
    text-align: center;
    
    background-repeat: no-repeat;
    
}
.experince-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    
    border-radius: 30px;

    box-shadow: 10px 10px 40px gray;
    
}
#web-dev-experience {
    
    
    padding: 1%;
    border-radius: 20px;
    

}
#full-stack-experince{
    
    padding: 1%;
    
    border-radius: 20px;

}
#new{
    padding: 1%;
    
    
    border-radius: 20px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 3%;
    
    
}
.menu{
    margin-top: -55px;
}
img {
    
    border-radius: 10px;
    padding: 0px;
    margin: 0%;
    
    width: 100%;
    
  }
body{
    box-sizing: border-box;
  }

#Size{
    font-size: 70%;
}
bonus{
    padding: 1%;
    
    
    border-radius: 20px;
}
.nav {
  
    background-color: rgb(49, 48, 48);
    overflow: hidden;
    
}   
.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
    
}
.nav a:hover {
    background-color: #ddd;
    color: black;
    
}

.nav a.act {
    
    color: white;
    
}



